body {
  background-color: white;
}              
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 12px;
}
.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 4px;
}
.data-table th {
  background-color: #f2f2f2;
  text-align: left;
}
.data-header {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
.hidden-link {
  cursor: pointer;
  text-decoration:none;           
}
.row-positive {
  color: green;
}
.row-negative {
  color: red;
}
.row-neutral {
  color: black;
}
.small-text {
  font-size: small;
}
.myMiniButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:linear-gradient(to bottom, #525286 5%, #019ad2 100%);
  background-color:#525286;
  border-radius:3px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:10px;
  font-weight:bold;
  padding:3px 6px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.myMiniButton:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #525286 100%);
  background-color:#019ad2;
}
.myMiniButton:active {
  position:relative;
  top:1px;
}

/* Default light mode styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.light .data-header {
  background-color: #f0f0f0;
  color: #000000;
}

body.light .data-table {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark .data-header {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .data-table {
  background-color: #1e1e1e;
  color: #ffffff; /* White text for better readability */
}

body.dark .data-table th {
  background-color: #333333; /* Darker background for table headers */
  color: #ffffff; /* White text for better contrast */
  border-color: #444444; /* Adjust border color for dark mode */
}

body.dark .row-neutral {
  color: white;
}

/* Dark mode styles for links */
body.dark .data-table a {
  color: #4ea8de; /* Light blue for better readability */
  text-decoration: none; /* Optional: Remove underline for cleaner look */
}

body.dark .data-table a:hover {
  color: #82cfff; /* Brighter blue on hover for better visibility */
  text-decoration: underline; /* Optional: Add underline on hover */
}

/* Theme toggle button */
.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #0078d7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

theme-toggle:hover {
  background-color: #005a9e;
}